.preview--hidden{
    height: 0;
    flex: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: height 0.2s linear
}

.preview--hidden.active{
    height: 300px;
    transition: height 0.2s linear
}

@media only screen and (max-width: 850px){
    .preview--hidden.active{
        height: 225px;
    }
}